<h1>New Game</h1>
<ul class="inline">
  <% @letters.each do |letter| %>
    <li class="tile"><%= letter %></li>
  <% end %>
</ul>
<p>What is the longest word you can find?</p>
<form action="/score" method="POST">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :letters, @letters %>
  <input type="text" name="word" placeholder="Type a word">
  <input type="submit" name="submit" value="Play">
</form>

<p>Total score: <strong><%= session[:score] %></strong></p>
